.navbar-brand > img {
    margin-top: -10px;
    margin-left: 20px;
  }
  
  .nav-link {
    font-size: 20px;
  }
  
  li {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .nav-link:hover {
    background-color: rgb(160, 209, 203);
  }
  